table {
  background-color: #E3E3E3;
  /* border: 2px #00A13A solid; */
  margin: 0 auto;
  padding: 7px;
  text-align: center;
  width: 98%;
}

tr { background-color: white; }

th {
  background-color: #d8d8d8;
  border-bottom: #e3e3e3 5px solid;
  color: rgb(39, 39, 39);
  height: 80px;
  padding: 8px;
  font-size: 1vw;

  /* Stick to the top */
  position: sticky;
  top: 0;

  /* Z-index to make it appear above the table */
  z-index: 1;
}

td {
  padding: 8px;
  font-size: 0.9vw;
  /* border-bottom: 1px solid #00A13A; */
  border-bottom : 3px solid #e3e3e3;
  height: 50px;
}

/* tbody tr:nth-child(odd) { background-color: #ffffff; } */
tbody tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
} 

tbody td:hover {
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
}