#root {
  margin: 0 auto;
  background-color: #E3E3E3;
  font-family: Poppins, sans-serif;
  
}

.sidebar {
  width: 300px;
  transition: width 0.3s;
  height: 100vh;
  position: fixed;
}

.main-content {
  margin-left: 300px;
  transition: margin-left 0.3s;
}

.main-content.collapsed {
  margin-left: 90px;
}

.sidebar.collapsed {
  width: 90px;
}

.side-pill-h:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.content {
  padding: 20px;
}

.btn-link {
  border: none;
  background: none;
}

.fs-responsive {
  --fs-1: clamp(1rem, 4vw, 3rem);
  --fs-2: clamp(1rem, 3vw, 2.5rem);
  --fs-3: clamp(1rem, 3vw, 2rem);
  --fs-4: clamp(1rem, 3vw, 1.5rem);
  --fs-5: clamp(1rem, 3vw, 1.25rem);
  --fs-6: clamp(0.87rem, 3vw, 1rem);
  --fs-7: clamp(0.8rem, 3vw, 0.875rem);
}

.fs-responsive h1 {
  font-size: var(--fs-1);
}

.fs-responsive h2 {
  font-size: var(--fs-2);
}

.fs-responsive h3 {
  font-size: var(--fs-3);
}

.fs-responsive h4 {
  font-size: var(--fs-4);
}

.fs-responsive h5 {
  font-size: var(--fs-5);
}

.fs-responsive h6 {
  font-size: var(--fs-6);
}

.fs-responsive p {
  font-size: var(--fs-7);
}