#root {
  margin: 0 auto;
  background-color: #E3E3E3;
  font-family: Poppins, sans-serif;
  
}

.sidebar {
  width: 300px;
  transition: width 0.3s;
  height: 100vh;
}

.sidebar.collapsed {
  width: 90px;
}

.side-pill-h:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.content {
  padding: 20px;
}

.btn-link {
  border: none;
  background: none;
}